@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700&family=Goudy+Bookletter+1911&display=swap');

body {
  margin: 0;
  background: radial-gradient(farthest-corner at 50% -40%, hsl(229, 25%, 31%), hsl(237, 49%, 15%));
  background-size: auto 100%;
  min-height: 100vh;
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: center;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  padding: 20px;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 20px;
  width: 40rem;
  margin: 1rem auto;
  justify-self: flex-start;
  align-self: flex-start;
}

.score-container {
  background-color: #f9f9f9;
  color: hsl(229, 64%, 46%);
  padding: 1rem 3rem;
  align-self: center;
  margin-left: auto;
  border-radius: 10px;
}

.score-title {
  margin: 0;
  letter-spacing: 3px;
}

.score {
  margin: 0;
  font-size: 60px;
  line-height: 4rem;
  font-weight: 700;
  color: hsl(229, 25%, 31%);
}

.rock-container {
  cursor: pointer;
  grid-column: 1 / 3;
  justify-self: center;
  background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  transform: rotateX(18deg);
  filter: drop-shadow(0 10px hsl(349, 71%, 40%));
}

.paper-container {
  cursor: pointer;
  justify-self: center;
  background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  transform: rotateX(18deg);
  filter: drop-shadow(0 10px hsl(230, 50%, 50%));
}

.scissors-container {
  cursor: pointer;
  justify-self: center;
  background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  transform: rotateX(18deg);
  filter: drop-shadow(0 10px hsl(39, 89%, 37%));
}

.rock,
.paper,
.scissors {
  box-shadow: inset 0 8px rgb(228, 228, 228);
  background-color: white;
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.rules-container > button {
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;
  background: transparent;
  border: 1px solid white;
  padding: 0.7rem 2.5rem;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in;
}

.rules-container button:hover {
  box-shadow: inset 10rem 0 white;
  color: hsl(229, 25%, 31%);
}

.rules {
  display: none;
  background-color: white;
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem 2rem;
  border-radius: 10px;
  z-index: 3;
}

.rules h2 {
  color: hsl(229, 25%, 31%);
  float: left;
  margin-bottom: 3rem;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 2.2rem;
  right: 1.5rem;
  background-color: transparent;
  border: none;
}

.screen {
  display: none;
  background-color: rgba(0, 0, 0, 0.589);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
