@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700&family=Goudy+Bookletter+1911&display=swap');

body {
  margin: 0;
  background: radial-gradient(farthest-corner at 50% -40%, hsl(229, 25%, 31%), hsl(237, 49%, 15%));
  background-size: auto 100%;
  min-height: 100vh;
  overflow: hidden;
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: center;
  padding: 1rem 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  padding: 18px 18px 18px 24px;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 20px;
  width: 33rem;
  height: 6rem;
  margin: 0 auto 1rem;
  justify-self: flex-start;
  align-self: flex-start;
}

.title {
  width: 10rem;
  font-size: 38px;
  line-height: 1.95rem;
  text-align: left;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.adv.title {
  width: 6rem;
  font-size: 22px;
  line-height: 1.2rem;
  display: flex;
  align-items: center;
}

.score-container {
  background-color: #f9f9f9;
  color: hsl(229, 64%, 46%);
  padding: 0.7rem 2.2rem;
  align-self: center;
  margin-left: auto;
  border-radius: 10px;
}

.score-title {
  margin: 0;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 600;
}

.score {
  margin: 0;
  font-size: 56px;
  line-height: 4rem;
  font-weight: 700;
  color: hsl(229, 25%, 31%);
}

.circles {
  display: grid;
  grid-template-columns: auto auto;
  width: 50rem;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

.adv.circles {
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(3, auto);
}

.link-3 {
  grid-column: 1 / 3;
  justify-self: center;
}

.adv.link-1 {
  grid-column: 1/3;
  grid-row: 1/3;
  margin: 6rem 0 0 2.5rem;
}

.adv.link-2 {
  grid-column: 3 / 6;
  grid-row: 1/3;
}

.adv.link-3 {
  grid-column: 6 / 9;
  grid-row: 1/3;
  margin: 6rem 2.5rem 0 0;
}

.adv.link-4 {
  grid-column: 1 / 5;
  justify-self: end;
  margin: 1rem 2.7rem 0 0;
}

.adv.link-5 {
  grid-column: 5 / 9;
  margin: 1rem 2rem 0 0;
}

.link-1:hover,
.link-2:hover,
.link-3:hover,
.link-4:hover,
.link-5:hover {
  transform: scale(1.02);
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.527));
}

.rock-container,
.paper-container,
.scissors-container {
  cursor: pointer;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin: 1.2rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(18deg);
}

.adv.rock-container,
.adv.paper-container,
.adv.scissors-container,
.adv.lizard-container,
.adv.spock-container {
  cursor: pointer;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  margin: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(18deg);
}

.game .adv.rock-container,
.game .adv.paper-container,
.game .adv.scissors-container,
.game .adv.lizard-container,
.game .adv.spock-container {
  width: 10rem;
  height: 10rem;
  margin: 1.2rem 2.5rem;
}

.rock-container {
  background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  filter: drop-shadow(0 10px hsl(349, 71%, 40%));
}

.paper-container {
  justify-self: center;
  background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  filter: drop-shadow(0 10px hsl(230, 50%, 50%));
}

.scissors-container {
  justify-self: center;
  background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  filter: drop-shadow(0 10px hsl(39, 89%, 37%));
}

.lizard-container {
  justify-self: center;
  background: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  filter: drop-shadow(0 8px hsl(261, 60%, 45%));
}

.spock-container {
  justify-self: center;
  background: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  filter: drop-shadow(0 8px hsl(189, 59%, 40%));
}

.rock,
.paper,
.scissors {
  box-shadow: inset 0 8px rgb(228, 228, 228);
  background-color: white;
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adv.rock,
.adv.paper,
.adv.scissors,
.adv.lizard,
.adv.spock {
  box-shadow: inset 0 6px rgb(228, 228, 228);
  background-color: white;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adv.rock > img,
.adv.paper > img,
.adv.scissors > img,
.adv.lizard > img,
.adv.spock > img {
  transform: scale(0.8);
} 

.game .adv.rock,
.game .adv.paper,
.game .adv.scissors,
.game .adv.lizard,
.game .adv.spock {
  width: 7.5rem;
  height: 7.5rem;
}

.game .adv.rock > img,
.game .adv.paper > img,
.game .adv.scissors > img,
.game .adv.lizard > img,
.game .adv.spock > img {
  transform: scale(1);
}

.background {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.adv.background {
  transform: translate(-50%, -50%) scale(0.93);
}

.rules-container > button,
.mode-btn {
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;
  background: transparent;
  border: 1px solid white;
  padding: 0.7rem 2.5rem;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in;
  font-family: 'Barlow Semi Condensed', sans-serif;
  z-index: 0;
}

.mode-btn {
  left: 2.5rem;
}

.rules-container button:hover,
.mode-btn:hover {
  box-shadow: inset 15rem 0 white;
  color: hsl(229, 25%, 31%);
}

.rules {
  display: none;
  background-color: white;
  width: 22rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem 2rem;
  border-radius: 10px;
  z-index: 3;
}

.rules h2 {
  color: hsl(229, 25%, 31%);
  float: left;
  margin-bottom: 3rem;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 2.2rem;
  right: 1.5rem;
  background-color: transparent;
  border: none;
}

.screen {
  display: none;
  background-color: rgba(0, 0, 0, 0.589);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.18rem;
  letter-spacing: 1.5px;
  margin: auto;
  transition: all 0.5s ease-in;
}

.player-choice,
.computer-choice {
  transform: scale(1.5);
  margin-top: 3rem;
}

.circle-placeholder {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  background-color: rgba(0, 0, 0, 0.192);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.438);
  position: absolute;
  top: 34%;
  right: 23%;
}

.result {
  align-self: flex-end;
  margin-bottom: 1.5rem;
  transition: all 0.5s ease-in;
  width: 0%;
  max-width: 12rem;
}

.result h1 {
  font-size: 40px;
  line-height: 2rem;
  letter-spacing: normal;
}

.again-btn {
  padding: 0.7rem 3rem;
  font-size: 16px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: white;
  color: hsl(229, 25%, 31%);
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-in;
  text-decoration: none;
  white-space: nowrap;
}

.again-btn:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: inset 7rem 0 hsl(229, 25%, 20%), inset -7rem 0 hsl(229, 25%, 20%);
  background-color: hsl(229, 25%, 20%);
  color: white;
  filter: drop-shadow(0 0 7px white);
}

.again-btn:active {
  transform: scale(0.98);
  transition: none;
}

@media screen and (max-width: 850px) {
  .header {
    padding: 10px 10px 10px 12px;
    width: 89%;
    max-width: 33rem;
    border-radius: 10px;
    margin: auto auto 2rem;
  }
  
  .title {
    width: 6rem;
    font-size: 28px;
    line-height: 1.6rem;
  }
  
  .score-container {
    padding: 0.5rem 1.8rem;
    border-radius: 5px;
  }
  
  .score-title {
    letter-spacing: 2px;
  }
  
  .score {
    font-size: 42px;
  }

  .circles {
    width: auto;
    max-width: 90%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
  }

  .rock-container,
  .paper-container,
  .scissors-container {
    width: 7rem;
    height: 7rem;
    margin: 1.2rem 2rem;
  }

  .adv.rock-container,
  .adv.paper-container,
  .adv.scissors-container,
  .adv.lizard-container,
  .adv.spock-container {
    width: 6rem;
    height: 6rem;
    margin: 0.5rem;
  }

  .rock,
  .paper,
  .scissors {
    box-shadow: inset 0 5.5px rgb(228, 228, 228);
    width: 5.3rem;
    height: 5.3rem;
  }

  .rock > img,
  .paper > img,
  .scissors > img {
    transform: scale(0.8);
  } 

  .adv.rock,
  .adv.paper,
  .adv.scissors,
  .adv.lizard,
  .adv.spock {
    width: 4.5rem;
    height: 4.5rem;
  }

  .rock-container {
    filter: drop-shadow(0 7px hsl(349, 71%, 40%));
  }
  
  .paper-container {
    justify-self: center;
    filter: drop-shadow(0 7px hsl(230, 50%, 50%));
  }
  
  .scissors-container {
    justify-self: center;
    filter: drop-shadow(0 7px hsl(39, 89%, 37%));
  }
  
  .lizard-container {
    justify-self: center;
    filter: drop-shadow(0 7px hsl(261, 60%, 45%));
  }
  
  .spock-container {
    justify-self: center;
    filter: drop-shadow(0 7px hsl(189, 59%, 40%));
  }

  .background {
    transform: translate(-50%, -40%) scale(0.75);
  }

  .adv.background {
    transform: translate(-50%, -50%) scale(0.75);
  }

  .rules-container > button,
  .mode-btn {
    bottom: 5rem;
    right: 50%;
    transform: translate(50%, 0);
  }

  .mode-btn {
    bottom: 1rem;
    width: 12rem;
    left: auto;
  }

  .rules {
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: none;
    padding: 0;
    border-radius: 0;
  }

  .rules h2 {
    margin: 2rem auto 0 2rem;
  }

  .rules > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .circle-placeholder {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    background-color: rgba(0, 0, 0, 0.192);
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.438);
    position: absolute;
    top: 42%;
    right: 23%;
  }

  .game {
    display: flex;
    flex-direction: column;
    gap: 1.18rem;
    letter-spacing: 1px;
  }

  .result {
    align-self: center;
    margin-bottom: 1.5rem;
    transition: all 0.5s ease-in;
    width: 0%;
    max-width: 9rem;
  }

  .game .adv.rock-container,
  .game .adv.paper-container,
  .game .adv.scissors-container,
  .game .adv.lizard-container,
  .game .adv.spock-container {
    transform: scale(0.75);
    margin: 0.5rem;
  }

  .mobile-circles {
    display: flex;
    gap: 1.5rem;
    transform: scale(0.8);
  }

  .result h1 {
    font-size: 32px;
  }

  .again-btn {
    padding: 0.7rem 1.8rem;
    font-size: 16px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: white;
    color: hsl(229, 25%, 31%);
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease-in;
    text-decoration: none;
    white-space: nowrap;
  }
}
